<% if session[:user_id] %>
  <header>
    <%= link_to "ユーザー投票へ", twitter_path %>
    <%= link_to "ログアウト" ,controller: "sessions", action: "destroy" %>
  </header>
<% end %>

<% unless session[:user_id] %>
  <header>
    <%= link_to "TOPページへ" , login_path %>
  </header>
<% end %>

<div class="font-change">
  <%# 棒グラフ %>
  <div class="chart-size">
    <div id="mac-spec"></div>
  </div>
  <%# 切り替えボタン %>
  <div class="select-button">
    <i class="far fa-hand-point-right"></i>
    <div id="btn-air" class="btn">Air</div>
    <div id="btn-13" class="btn">Pro 13inch</div>
    <div id="btn-16" class="btn">Pro 15-16inch</div>
  </div>
  <%# 円グラフair %>
  <div id="display-air" class="clear">
    <div class="chart-flex">
      <div class="container" id="air-memory"></div>
      <div class="container" id="air-storage"></div>
    </div>
  </div>
  <%# 円グラフinch13 %>
  <div id="display-inch13" class="clear">
    <div class="chart-flex">
      <div class="container" id="inch13-cpu"></div>
      <div class="container" id="inch13-memory"></div>
      <div class="container" id="inch13-storage"></div>
    </div>
  </div>
  <%# 円グラフinch16 %>
  <div id="display-inch16" class="clear">
    <div class="chart-flex">
      <div class="container" id="inch16-cpu"></div>
      <div class="container" id="inch16-memory"></div>
      <div class="container" id="inch16-storage"></div>
    </div>
  </div>
</div>  