.mac {
  border: 3px solid blue;
  border-radius: 50px;
  padding: 50px;
  width: 50%;
  margin: 40px auto;
  position: relative;
  h1 {
    display: inline-block;
    text-align: center;
    font-size: 40px;
    border: 3px solid blue;
    background: white;
    border-radius: 50px;
    padding: 0 30px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  div {
    display: table;
    margin: 0 auto;
  }
  label {
    display: block;
    font-size:24px;
    position:relative;
    padding-left:1em;
    margin-bottom: 20px;
    cursor: pointer;
  }
  input[type=radio] {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    margin:auto;
  }
  .button {
    display: block;
    height: 50px;
    width: 80px;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
  }
}

