.pic {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  img {
    margin: 10px 30px;
  }
}

.like2-link a {
  text-decoration: none;
}

.online-new {
  display: table;
  margin: 0 auto;
  margin-bottom: 20px;
}