.size {
  width: 300px;
  height: 40px;
  font-size: 24px;
  font-weight: bold;
  margin: 20px auto;
  padding-left: 10px;
  color: #333;
  font-family: 'Noto Sans JP', sans-serif;
  border-radius: 7px;
}

