@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "macsNew";
@import "macsShow";
@import "twittersNew";
@import "twittersShow";
@import "login";

header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  background: #1e90ff;
}


